@font-face {
    font-family: 'Oswald_Light'; 
    src: url('../fonts/Oswald_Light/Oswaldlight.eot') format('eot'), 
    url('../fonts/Oswald_Light/Oswald-Light.ttf') format('ttf'), 
    url('../fonts/Oswald_Light/Oswald-Light.woff') format('woff'),
    url('../fonts/Oswald_Light/Oswaldlight.woff2') format('woff2'); 
    font-weight: normal; 
    font-style: normal;
};

@font-face {
    font-family: 'Oswald_Regular'; 
    src: url('../fonts/Oswald_Regular/Oswaldregular.eot') format('eot'), 
    url('../fonts/Oswald_Regular/Oswald-Regular.ttf') format('ttf'), 
    url('../fonts/Oswald_Regular/Oswald-Regular.woff') format('woff'),
    url('../fonts/Oswald_Regular/Oswaldregular.woff2') format('woff2'); 
    font-weight: normal; 
    font-style: normal;
}